/* 外部CSSファイルです。 */
.row div {
    border: solid 1px #eee;
    text-align: center;
}

.exp {
    display: none;
}

.title {
    text-align: center;
    margin: 0 auto;
}

.main {
    font-size: 100px;
}

#memoArea {
    padding: 1em 0;
}

.memo-title {
    background: #85bff0;
    color: #fff;
    font-weight: bold;
}

.memo-body {
    background: #c4e2fa;
}

#outImg {
    background: url(data:image/gif;base64,R0lGODlhEAAQAPEBAAAAAL+/v////wAAACH5BAAAAAAALAAAAAAQABAAAAIfjG+iq4jM3IFLJipswNly/XkcBpIiVaInlLJr9FZWAQA7) fixed;
    padding: 1em;
    display: inline-block;
}


/* canvas */

#dropArea {
    height: 8em;
}

.drop {
    background: #ffa;
}

#outArea {
    background: url(data:image/gif;base64,R0lGODlhEAAQAPEBAAAAAL+/v////wAAACH5BAAAAAAALAAAAAAQABAAAAIfjG+iq4jM3IFLJipswNly/XkcBpIiVaInlLJr9FZWAQA7) fixed;
    padding: 0;
    display: inline-block;
}

/* timer */

#output {
    font-size: 500%;
}

@media screen and (max-width:479px) {
    #output {
        font-size: 400%;
    }
}

@media screen and (max-width:374px) {
    #output {
        font-size: 300%;
    }
}
